from collections import namedtuple

Server = namedtuple('Server', ['url', 'login', 'password', 'service'])

SERVERS = {
    'prod_lizmap': Server(
        "https://demo.lizmap.com/lizmap/",
        "login_web",
        "password_web",
        "service_postgresql",
    ),
}
