from collections import namedtuple

Server = namedtuple('Server', ['url', 'login', 'password', 'service'])

SERVERS = {
    'prod_lizmap': Server(
        "https://demo.lizmap.com/lizmap/",
        "login",
        "password",
        "service",
    ),
}
