from collections import namedtuple

# Any changes to this file must be followed by the change in the deploy-qgis-projects as well
Server = namedtuple('Server', ['url', 'login', 'password', 'service', 'bs5'])

SERVERS = {
    'prod_lizmap': Server(
        "https://demo.lizmap.com/lizmap/",
        "login_web",
        "password_web",
        "service_postgresql",
        "boolean_bootstrap5",
    ),
}
